<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0F3C54HHQ1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-0F3C54HHQ1');
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:700|Open+Sans:400,400i,700,700i&display=swap');

    body {
        font-family: 'Open Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Baloo Chettan 2', cursive;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        headerImg = document.createElement("img")
        headerImg.src = "/assets/da-logo-header-slim-v2.png"
        headerImg.style.display = "block"
        headerImg.style.margin = "auto"

        document.querySelector("h1").outerHTML = headerImg.outerHTML
    });
</script>